.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	text-align: center;
	height: 100dvh;
	min-height: 500px;

	.hero {
		max-width: 200px;
	}
	span {
		display: flex;
		gap: 25px;
		justify-content: center;

		a {
			margin: 0;

			img {
				width: 30px;
			}
		}
	}
	a {
		width: fit-content;
		align-self: center;
	}

	button {
		background-color: var(--btn-color);
		color: var(--btn-text-color);
		width: 150px;
		height: 50px;
		font-size: 20px;
		font-weight: bold;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
		margin-right: 10px;
		margin-top: 10px;
		border: 2px solid #fff;
		border-image-slice: 1;
		border-radius: 50px;
	}
	button:hover {
		transform: scale(1.1);
		cursor: url("../public/catIcon.png"), auto;
	}
	button:active {
		transform: translateY(2px);
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	}
}

.colorModeContainer {
	position: relative;
}
.colorMode {
	position: absolute;
	max-width: 50px;
}

.colorMode:hover {
	cursor: url("../public/catIcon.png"), auto;
	transform: scale(1.2);
}

.description {
	max-width: 24ch;
	align-self: center;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.buttons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}
.buttonIcons {
	width: 18px;
	margin-right: 7px;
}
.border-gradient {
	border: 10px solid;
	border-image-slice: 1;
	border-width: 5px;
}
.border-gradient-purple {
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
@media (width >=800px) {
	.container {
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-evenly;
		.hero {
			max-width: 350px;
			width: 350px;
		}
	}
}
@media (width >=1400px) {
	.container {
		.hero {
			max-width: 400px;
			width: 400px;
		}
	}
}
@media (width <1300px) {
	.colorModeContainer {
		margin-right: 10%;
		position: relative;
	}
	.container {
		.hero {
			max-width: 300px;
			width: 300px;
		}
	}

	.buttons {
		display: inline-block;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-evenly;
		margin-bottom: 20px;
	}
}
@media (width <800px) {
	.colorModeContainer {
		margin-right: 0;
		margin-top: 25%;
		position: relative;
	}
	.container {
		.hero {
			max-width: 200px;
			width: 200px;
		}
	}
	button {
		width: 80dvw !important;
	}
	.buttons {
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		margin-bottom: 20px;
	}
}
